@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>IDMB</h3>

<p>You can find in this website some information about movies or tv shows and also you can check the top 10 movies in the US box office.</p>
