@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>To contact us:</h3>



<address>
    Karam Khalil <br />
    Phone: 04567891<br />
    <strong>E-Mail:</strong> <a href="mailto:karam.khalil@immalle.be">karam.khalil@immalle.be</a><br />
</address>
